.chat-row{
    margin: 50px;
}

.chat-user-list{
    list-style: none;
    margin-bottom: 6px;
    padding-right: 3px;
}

.chat-user-list:hover, .chat-user-list.active{
    background: #1e1e1e;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.chat-user-list:hover a, .chat-user-list.active a{
    color:#ffffff;
}


.chat-user-list a{
    text-decoration: none;
}

.name-image{
    width: 35px;
    height: 35px;
    color:#ffffff;
    border-radius: 50%;
    font-weight: bold;

    text-align: center;
    padding-top: 6px;
}

.chat-image{
    position: relative;
}

.user-status-icon{
    position: absolute;
    bottom:0;
    right: 0;
    color: gray;
    background: gray;
    font-size: 8px;
    border:2px solid #e2e2e2;
    border-radius: 100%;
}

.user-status-head{
    position: absolute;
    bottom:0;
    right: 0;
    color: #000000;
    background: #000000;
    font-size: 8px;
    border:2px solid #e2e2e2;
    border-radius: 100%;
}

.chat-image, .chat-name{
    display: inline-block;
}

.chat-header, .chat-sidebar > div{
    background: white;
    padding: 10px;
}

.chat-header{
    border-bottom: 2px solid #f0f0f0;
}

.chat-body{
    height: calc(100vh - 375px);
    background: #ffffff;
    padding: 30px 50px;
    margin-bottom: 20px;
    position: relative;
}

.message-text{
    margin-left: 39px;
    margin-top: -10px;
}

.chat-input{
    border:1px solid lightgray;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 8px 10px;
}

.chat-input-toolbar{
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    padding: 8px 10px;
}

.chat-input-toolbar .tool-items{
    margin-right: 5px;
    opacity: 0.3;
}
